<div class="container">
  <div class="row">
    <h1>投稿フォーム</h1>
    <% if @post.errors.any? %>
      <%= @post.errors.count %>件のエラーが発生しました
      <ul>
        <% @post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    <% end %>
    <%= form_with model: @post do |f| %>
      <h4>体育館名</h4>
      <%= f.text_field :title %>

      <h4>体育館詳細</h4>
      <%= f.text_area :body %>

      <h4>都道府県</h4>
      <%= f.text_field :prefectures %>

      <h4>住所</h4>
      <%= f.text_area :domicile %>
      
      <%= f.submit '投稿' %>
    <% end %>
  </div>
</div>