<div class='container'>
  <div class='row'>
    <h1>体育館一覧</h1>
    <table class="table table-hover">
      <thead>
        <tr>
          <th></th>
          <th>ユーザー</th>
          <th>体育館名</th>
          <th>体育館詳細</th>
          <th>都道府県</th>
          <th>住所</th>
          <th>投稿日</th>
          <th colspan="3"></th>
        </tr>
      </thead>
      <tbody>
        <% @posts.each do |post| %>
          <tr>
            <td><%= image_tag post.user.get_profile_image(100,100) %></td>
            <td><%= post.user.name %></td>
            <td><%= post.title %></td>
            <td><%= post.body %></td>
            <td><%= post.prefectures %></td>
            <td><%= post.domicile %></td>
            <td><%= post.created_at.strftime('%Y/%m/%d') %></td>
            <td><%= link_to "削除", admin_post_path(post), method: :delete, data: { confirm: '本当に削除しますか？' } %></td>
          </tr>  
        <% end %>
      </tbody>
    </table>
  </div>
</div>