<h1>体育館一覧</h1>
<% @post.each do |post| %>
  <div>
    <p>投稿ユーザー画像：<%= image_tag post.user.get_profile_image(100,100) %>
    <p>体育館名：<%= post.title %></p>
    <p>体育館詳細：<%= post.body %></p>
    <p>ユーザーネーム：<%= post.user.name %></p>
    <%= link_to "Show", post_path(post.id) %>
  </div>
<% end %>