<h1>ユーザー詳細</h1>
<div>
  <h3><%= @user.name %></h3>
  <%= image_tag @user.get_profile_image(100,100) %>
  <% if @user == current_user.id %>
    <p><%= link_to "プロフィール編集", edit_user_path(@user) %></p>
  <% end %>
 
</div>
<table class="table table-hover">
  <thead>
    <tr>
      <th>体育館名</th>
      <th>体育館詳細</th>
      <th>都道府県</th>
      <th>住所</th>
      <th>投稿日</th>
      <th>コメント数</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.title %></td>
        <td><%= post.body %></td>
        <td><%= post.prefectures %></td>
        <td><%= post.domicile %></td>
        <td><%= post.created_at.strftime('%Y/%m/%d') %></td>
        <td><%= post.post_comments.count %></td>
      </tr>
    <% end %>
  </tbody>
</table>
